body
{
    font-family: Arial, sans-serif;
    font-size: 13px;
}

input
{
    margin: 0.1em;
}

#ui-datepicker-div
{
    font-size: 60%;
}

.alcolog table
{
    background-color: #F9F9F9;
}

.history
{
    display: none;
}

.commit
{
    width: auto;
    background-color: #ffa8a8;
    display: none;
}

.volumepicker
{
    text-align: right;
}

.percent
{
    text-align: right;
}

.submit-div
{
    text-align: right;
}
