body
{
/*    font-size: 60%; */
}

.alcolog table
{
    background-color: #F9F9F9;
}

div.history
{
    display: none;
}

div.commit
{
    width: auto;
    background-color: #ffa8a8;
    display: none;
}

input.volumepicker
{
    text-align: right;
}

input.percent
{
    text-align: right;
}

.submit
{
    
    disabled: disabled;
}
